@media only screen and (max-width:480px){
  
  body{
    margin: 0;
  }

  #top-area .column,
  #footer-area .column{
    float: none;
    width: 100%;
    padding: 0;
    margin: 0;
    clear: both;
  }

  .top_left, 
  .top_right,
  .two-col-img .region{
    float: none;
    width: 100%;
    overflow: hidden;
    text-align: center;
  }

  .top_right{
    padding: 15px 0 0 0;
  }

  #logo,
  #site-title{
    display: inline-block;
    text-align: center;
    float: none;
    vertical-align: top;
  }

  .field-name-field-images .field-item{
    width: 50%;
  }

  .theme-default .nivo-caption{
    display: none !important;
  }

  .wrap, #footer-area{ padding: 15px; }

  .two-col-img .region{ padding: 10px 0; }

  #copyright p{ padding: 5px 0; width: 100%; text-align: center;}

}

@media screen and (min-width: 641px) {
  #main-menu > ul.menu { 
    display: inline-block !important;
  }
}